<template>

  <tr v-if="game">
    <td>{{ label }}</td>
    <td colspan="3">{{ game.home.name }}</td>
    <td colspan="3">{{ game.guest.name }}</td>
    <td></td>
  </tr>
  <tr v-if="game">
    <td>{{ game.type }}</td>
    <td colspan="3"><input v-model="myGame.home.frames"/></td>
    <td colspan="3"><input v-model="myGame.guest.frames"/> </td>

  </tr>
</template>

<script>
export default {
  name: "Frames",

  props: {
    label: String,
    type: String,
    game:  Object

  },
  computed: {
    myGame: {
      get() {
        return this.game
      }
    }
  }
}
</script>

<style scoped>

</style>