<template>
  <tr>
    <td>{{ label }}</td>
    <td colspan="3">{{game.home.name}}</td>
    <td colspan="3">{{game.guest.name}}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ game.type }}</td>
    <td  colspan="2"><input v-model="myGame.home.frames"/></td>
    <td>HB: <input v-model="myGame.home.high"/></td>
    <td  colspan="2"><input v-model="myGame.guest.frames"/></td>
    <td>HB: <input v-model="myGame.guest.high"/></td>

  </tr>
</template>

<script>
export default {
  name: "Straight",

  props: {
    label:String,
    game:{
      type: Object,
      required: true
    }
  },
  computed: {
    myGame: {
      get() {
        return this.game
      }
    }
  }

}
</script>

<style scoped>

</style>