<template>
  <tr v-if="game">
    <td>{{ label }}</td>
    <td colspan="3">{{game.home.name}}</td>
    <td colspan="3">{{game.guest.name}}</td>
    <td></td>
  </tr>
  <tr v-if="game">
    <td>14.1 endlos</td>
    <td>Bälle: <input v-model="myGame.home.balls"/></td>
    <td>Aufn: <input v-model="myGame.home.runs"/></td>
    <td>HS: <input v-model="myGame.home.high"/></td>
    <td>Bälle: <input v-model="myGame.guest.balls"/></td>
    <td>Aufn: <input v-model="myGame.guest.runs"/></td>
    <td>HS: <input v-model="myGame.guest.high"/></td>

  </tr>
</template>

<script>
export default {
  name: "Straight",

  props: {
    label:String,
    game: Object,

  },
  computed: {
    myGame: {
      get() {
        return this.game
      }
    }

  },

}
</script>

<style scoped>

</style>