<template>


  <div>
    Streets: <input v-model="localAddress.street"><br/>
    city: <input name="street" v-model="localAddress.city"><br/>
  </div>
</template>

<script>
export default {

  props: {
    value: {
      type: Object,
      required: true
    }
  },
  // emits: [ 'input'],
  // watch: {
  //   value() {
  //     this.$emit('input', this.value);
  //   }
  // },
  computed: {
    localAddress: {
      get() { return this.value },
      // set(localvalue) {
      //   console.log("emit:" + localvalue)
      //   //this.$emit('input', localvalue)
      // }
    }
  },
}
</script>

