<template>
  <h3>{{ label}}</h3>
  <table>
    <tr>
      <th>Spt.</th><th>Termin</th><th>Zeit</th><th>Heim</th><th>Gast</th><th>Ergebnis</th><th>Pkt</th>
    </tr>
    <tr v-for="match in matches" :key="match.id">
      <td>{{match.matchday}}</td>
      <td>{{match.date}}</td>
      <td>{{match.start}}</td>
      <td :class="{ active: match.home.id == teamId }">{{match.home.name}}</td>
      <td :class="{ active: match.guest.id == teamId }">{{match.guest.name}}</td>
      <td><router-link :to="'/manage/results/match/' + match.id">{{match.result || 'open'}}</router-link></td>
      <td>{{match.points}}</td>
    </tr>
  </table>
</template>

<script>
// @ is an alias to /src


export default {
  props: {
    label:String,
    teamId:String,
    matches:Array
  },


}
</script>
