<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/manage/">Manage</router-link> |
    <router-link to="/about">About</router-link>
    <span v-if="$oidc.isAuthenticated"> | <a href="#" @click="$oidc.signOut()">Signout ({{$oidc.userProfile.email}})</a></span>

  </div>
  <router-view/>
</template>
<script>
import {store} from "@/store";

export default {
  beforeMount() {
    store.season = "2021"
  }
}


</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
