<template>
  <div class="about">
    <h1>This is an about page</h1>
    <!--             @input="(newAddress) => {-->
    <!--               address = newAddress}"-->
    <Address :value="address"


    />
    <br/>
    Street: {{ address.street }}, city: {{ address.city }}
    <ul>
      <li v-for="(ad,idx) in content" :key="idx">{{ idx }}:Street: {{ ad.street }}, city: {{ ad.city }}</li>
    </ul>
    <Address :value="content[idx]" v-for="(ad,idx) in content" :key="idx"/>
  </div>
</template>
<script>


import Address from "@/components/Address";



export default {
  name: "Match",
  props: {
    matchId: String
  },
  data() {
    return {

      name: '',
      email: '',
      address: {
        street: 'Somewhere',
        city: '',

      }
      , content: [
        {street: '111', city: 'berlin'},
        {street: '222', city: 'Hamburg'},
      ]


    }
  },

  components: {Address}
  ,

}
</script>