<template>
  <div>
    <div>teamId: {{ teamId }}</div>
  </div>
  <button @click="fetchAPIData">Load</button>
  <div v-if="content">

    <DivisionRound label="Hinrunde" :matches="content.first_round" :team-id="teamId"/>
    <DivisionRound label="Rückrunde" :matches="content.second_round" :team-id="teamId"/>
  </div>
  <div v-else>
    Loading...
  </div>

</template>

<script>
// @ is an alias to /src


import DivisionRound from "@/components/DivisionRound";


export default {
  name: 'Division',
  components: {DivisionRound},
  props: {
    teamId: String,
  },
  data() {
    return {
      // TODO: laden der Aktuellen Runde, pro Team
      content: {
        first_round: [
          {
            matchday: 1,
            id: "547855",
            date: "11.09.2021",
            start: "16:00",
            home: {
              id: 6,
              name: "BC Frankfurt"
            },
            guest: {
              id: 4,
              name: "1. PBC Bad Wildungen"
            },
            result: "6:2",
            points: "3:0"
          },
          {
            matchday: 2,
            id: "547856",
            date: "11.09.2021",
            start: "16:00",
            home: {
              id: 2,
              name: "SG Johannesberg 2"
            },
            guest: {
              id: 6,
              name: "BC Frankfurt"
            },
            result: "6:2",
            points: "3:0"
          },
          {
            matchday: 4,
            id: "547851",
            date: "11.09.2021",
            start: "16:00",
            home: {
              id: 1,
              name: "PBC Pool Sharks Ortenberg"
            },
            guest: {
              id: 6,
              name: "BC Frankfurt"
            },
            result: "8:0", points: "3:0"
          }
        ],
        second_round: [
          {
            matchday: 8,
            id: 14,
            date: "11.09.2021",
            start: "16:00",
            home: {
              id: 6,
              name: "BC Frankfurt"
            },
            guest: {
              id: 3,
              name: "TuS Makkabi Frankfurt"
            },

            result: null, points: null
          },
          {
            matchday: 12,
            id: 15,
            date: "11.09.2021",
            start: "16:00",
            home: {
              id: 6,
              name: "BC Frankfurt"
            },
            guest: {
              id: 3,
              name: "TuS Makkabi Frankfurt"
            },

            result: null, points: null
          },
        ]
      }

    }
  },
  // async mounted() {
  //   this.fetchAPIData()
  // },
  // methods: {
  //   data_link() {
  //     //TODO: basis-url konfigurierbar machen
  //     return "http://localhost:8001/" + this.season + "/leagues/" + this.kind + "/" + this.league + "/" + this.division + ".json"
  //   },
  //   async fetchAPIData() {
  //     // see: https://dmitripavlutin.com/javascript-fetch-async-await/
  //     this.content = await (await fetch(this.data_link())).json()
  //   }
  // }


}

</script>
