<template>
  <div class="home">
    <router-link to="/manage/results/" > Ergebnisse</router-link> |
    <router-link to="/manage/reschedule/" >Verlegung</router-link>
  </div>
</template>

<script>

</script>