<template>
  <div>
    <h1>Match</h1>
    <div>{{ matchId }}</div>
    <button @click="fetchAPIData">Load</button>
    <div v-if="content">
      <div>{{ content.date }} {{ content.start }} Gespielt bei: {{ content.host.name }}</div>
      <!-- Dynamisch kommt eine Warnung: [Vue warn]: Vue received a Component which was made a reactive object. -->
      <!--<component :is="k2c_map[content.kind]" :content="content"/>-->
      <PoolMatchGames :content="content" v-if="content.kind=='pool'"/>
      <SnookerMatchGames :content="content" v-if="content.kind=='snooker'"/>
      <button @click="save">Save</button>
    </div>
    <div v-else>
      Loading...
    </div>


  </div>
</template>

<script>


import PoolMatchGames from "@/components/pool/MatchGames";
import SnookerMatchGames from "@/components/snooker/MatchGames";
export default {
  name: "Match",
  props: {
    matchId: String
  },
  components: {PoolMatchGames,SnookerMatchGames},
  data() {
    return {
      // dynamisch bringt ein Warnung ...
      // k2c_map: {
      //   'pool': PoolMatchGames,
      //   'snooker': SnookerMatchGames,
      // },
      content: null,

    }
  }
  ,
  async mounted() {
    this.fetchAPIData()
  }
  ,
  methods: {
    data_link() {
      //TODO: basis-url konfigurierbar machen
      return "http://localhost:8001/matches/" + this.matchId + ".json"
    }
    ,

    async fetchAPIData() {
      // see: https://dmitripavlutin.com/javascript-fetch-async-await/
      this.content = await (await fetch(this.data_link())).json()
    }
    ,
    save() {
      console.log("Saving:" + JSON.stringify(this.content))
    }

  }

}

</script>

