<template>
  <div>
    <div>{{ season }}</div>

    <div v-if="this.content">
      <table>
        <tr>
          <th>Team</th>
          <th>Spielart</th>
          <th>Liga</th>
        </tr>
        <tr v-for="rr in content" :key="rr.id">
          <td>
            <router-link :to="'/manage/results/team/' + rr.team.id">{{ rr.team.name }}</router-link>
          </td>
          <td>{{ rr.team.kind.title }}</td>
          <td>{{ rr.team.league.title }} {{ rr.team.division }}</td>
        </tr>
      </table>
    </div>
    <div v-else>
      Loading...
    </div>
  </div>
</template>

<script>
import {store} from '@/store.js'

export default {
  props: {},
  data() {
    return {
      season: store.season,
      content: [
        {
          id: 234,
          team: {
            id: 6,
            name: "BC Frankfurt",
            kind: {
              id: "pool",
              title: "Pool",
            },
            league: {
              id: "OL",
              title: "Oberliga",
            },
            division: 1
          }
        },
        {
          id: 236,
          team: {
            id: 5,
            name: "1.BSC Dill Katzenfurt",
            kind: {
              id: "pool",
              title: "Pool",
            },
            league: {
              id: "OL",
              title: "Oberliga",
            },
            division: 1

          }
        }
      ],

    }

  },
  // async mounted() {
  //   this.fetchAPIData()
  // },
  // methods: {
  //   data_link() {
  //     //TODO: basis-url konfigurierbar machen
  //     return "http://localhost:5000/results" + this.store.season + "/leagues.json"
  //   },
  //   async fetchAPIData() {
  //     // see: https://dmitripavlutin.com/javascript-fetch-async-await/
  //     this.content = await (await fetch(this.data_link(),{
  //       headers: {
  //         'Accept': 'application/json',
  //         'Authorization': 'Bearer ' + this.$oidc.accessToken
  //       }
  //     })).json()
  //   }
  // }

}
</script>
<style>
.active {
  font-weight: bold;
}
</style>