<template>
  <table>
    <tr>
      <th>Spiel</th>
      <th colspan="3">Heim: {{ content.home.name }}</th>
      <th colspan="3">Gast: {{ content.guest.name }}</th>
      <th></th>
    </tr>
    <!-- Dynamisch, mit v-for  kommt eine Warnung: [Vue warn]: Vue received a Component which was made a reactive object. -->
    <!--    <component v-for="(game, idx) in content.games" :key="game.id" :is="t2c_map[game.type]" :game="content.games[idx]"-->
    <!--               :label="'Spiel ' + (idx+1)"/>-->

    <Straight :game="my.games[0]" label="Spiel 1"/>
    <Frames :game="my.games[1]" label="Spiel 2" type="8ball"/>
    <Frames :game="my.games[2]" label="Spiel 3" type="9ball"/>
    <Frames :game="my.games[3]" label="Spiel 4" type="10ball"/>

    <Straight :game="my.games[4]" label="Spiel 5"/>
    <Frames :game="my.games[5]" label="Spiel 6" type="8ball"/>
    <Frames :game="my.games[6]" label="Spiel 7" type="10ball"/>
    <Frames :game="my.games[7]" label="Spiel 8" type="9ball"/>


    <tr>
      <td colspan="7">Endergebnis</td>
      <td>{{ g_home }} : {{ g_guest }}</td>
    </tr>
  </table>
</template>

<script>
import Straight from "@/components/games/Straight"
import Frames from "@/components/games/Frames"

export default {
  name: "PoolMatchGames",
  props: {
    label: String,
    content: {
      type: Object,
      required: true
    },
  },
  components: {
    Straight, Frames
  },
  computed: {
    my: {
      get() {
        return this.content
      }
    }
  },
  data() {
    return {
      g_home: 0,
      g_guest: 0
    }
  }

}
</script>
