<template>
  <table>
    <tr>
      <th>Spiel</th>
      <th colspan="3">Heim: {{ content.home.name }}</th>
      <th colspan="3">Gast: {{ content.guest.name }}</th>
      <th></th>
    </tr>
    <Snooker :game="my.games[0]" label="Spiel 1"/>
    <Snooker :game="my.games[1]" label="Spiel 2" />
    <Snooker :game="my.games[2]" label="Spiel 3" />

    <Snooker :game="my.games[3]" label="Spiel 4" />
    <Snooker :game="my.games[4]" label="Spiel 5"/>
    <Snooker :game="my.games[5]" label="Spiel 6" />

    <tr>
      <td colspan="7">Endergebnis</td>
      <td>{{ g_home }} : {{ g_guest }}</td>
    </tr>
  </table>
</template>

<script>
import Snooker from "@/components/games/Snooker"

export default {
  props: {
    label: String,
    content: {
      type: Object,
      required: true
    },
  },
  components: {
    Snooker
  },
  computed: {
    my: {
      get() {
        return this.content
      }
    }
  },
  data() {
    return {
      g_home: 0,
      g_guest: 0
    }
  }

}
</script>
